.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 20px;
  width: 80%;
  margin: auto;
}
.infos p{
  text-align: left;
  margin-top: 20px;
  color: var(--secondary-color);
  line-height: 2.6rem;
  font-size: 1.2rem;
}
.infos img {
  width: 50%;
  height: auto;
}
.socials {
  margin-top: 50px;
  font-size: 40px;
  color: var(--primary-color);
  display: flex;
  justify-content: space-evenly;
  width: 60%;
}
.socials i:hover {
  color: var(--hover-color);
  transform: scale(1.1);
  cursor: pointer;
}
.contact-form {
  background: #ffffff;
  padding: 25px;
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 100px auto;
  display: flex;
  flex-direction: column;
}

.contact-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.contact-form label {
  margin-bottom: 5px;
  font-weight: bold;
  width: 100%;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#submit-btn {
  margin: auto;
  width: 100px;
  padding: 10px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
}

#submit-btn:hover {
  background-color: var(--hover-color);
}
