.event-container {
  width: 90%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.event-container .event{
  margin: 10px auto;
  background-color: rgba(255, 255, 255, 0.646);
  width: 60%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  font-family: var(--text-font);
}
.event .event-left{
  background: var(--primary-color);
  min-width: 82px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 48px;
  font-weight: bold;
  text-align: center;
  border-radius: 8px 0 0 8px;
}
.event .event-left .date{
  font-size: 38px;
}
.event .event-left .month{
  font-size: 16px;
  font-weight: normal;
}
.event .event-content{
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.event .event-content .event-title{
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-bottom: 8px;
}
.event .event-content .event-descr{
  font-size: 1.1rem;
  line-height: 1.5;
  color: var(--secondary-color);
}
.event .event-content .event-time{
  background-color: rgb(227, 247, 236);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  padding: 4px 4px;
  border-radius: 14px;
  font-size: 0.9rem;
  color: var(--primary-color);
}
.event .event-content .event-details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.event .event-content .event-time img{
  width: 16px;
  height: 16px;
  margin-right: 6px;
}
.event .event-content .localisation, .inscription{
  background-color: rgb(227, 247, 236);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 14px;
  border-radius: 14px;
  font-size: 0.9rem;
  color: var(--primary-color);
}
.event .event-content .localisation img, .inscription img{
  width: 16px;
  height: 16px;
  margin-right: 6px;
}
.modal-container-map {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-map{
  position: relative;
  margin: 10% auto;
  padding: 20px;
  width: 50%;
}
.map {
  width: 98%;
  height: 500px;
  border-radius: 8px;
}
.close, .close-form {
  color: #d4d4d4;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
}
.close:hover, .close:focus, .close-form:hover, .close-form:focus {
  color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;
}
.localisation:hover, .inscription:hover {
  cursor: pointer;
}

.modal-container-form {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-form{
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 10% auto;
  padding: 20px;
  width: 50%;
}
.form {
  width: 98%;
  height: 500px;
  border-radius: 8px;
  background-color: var(--tertiary-color);
  border: 2px solid var(--primary-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#event-pref{
  width: 200px;
  overflow: auto;
  border: 1px solid var(--primary-color);
  background-color: white;
  border-radius: 4px;
  padding: 8px;
  margin-top: 30px;
}
#submit{
  width: 100px;
  padding: 10px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
}
input[type="text"], input[type="email"]{
  font-family: var(--main-font);
  padding: 8px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  width: 60%;
  margin: 0 auto;
}
label{
  font-weight: bold;
  font-family: var(--main-font);
  width: 60%;
  margin: 0 auto;
}
