@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('actions.css');
@import url('evenements.css');
@import url('contact.css');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

:root{
  --main-font: 'Montserrat Alternates', 'Arial, sans-serif';
  --text-font: 'Gabarito', 'Arial, sans-serif';
  --primary-color: #1f3c0f;
  --secondary-color: #232b24;
  --tertiary-color: #E0F0D8;
  --hover-color: #479d49;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--main-font);
  color: var(--primary-color);
}
h1{
  font-size: 2.8rem;
  margin-bottom: 10px;
}
p {
  font-family: var(--text-font);
  color: var(--secondary-color);
  line-height: 1.6;
  font-size: 1rem;;
}
main {
  margin-left: 200px; /* Largeur du menu de navigation */
  overflow-y: auto; /* Permet le défilement vertical */
  background-image: linear-gradient(rgb(238, 239, 237),rgb(243, 249, 251)), url(../img/bck_green.jpg);
  background-blend-mode: darken;
  background-size: cover;/* Ajuste la taille de l’image de fond pour qu’elle couvre toute la fenêtre */
  /* background-repeat: no-repeat;  Empêche la répétition de l’image */
  /* background-position: center;   Centre l’image dans la fenêtre */
  /* background-attachment: fixed;  */
}
body{
  height: 100vh;
  margin: 0;
  overflow:scroll;
}

/* MENU */
nav {
  float: left;
  width: 200px;
  height: 100vh;
  padding: 40px 0 0 30px;
  background-color: var(--primary-color);
  position: fixed;
  line-height: 60px;
  font-weight: bold;
}
nav ul{
  padding: 0;
  margin: 0;
}
nav ul li{
  margin-bottom: 10px;
  list-style-type: none;
}
nav ul li a{
  font-family: var(--main-font);
  color: white;
  font-size: 1.4rem;
  text-decoration: none;
}
.hover-underline {
  position: relative;
  display: inline-block;
}
.hover-underline::after, .hover-underline::before {
  content: '';
  position: absolute;
  width: 150px;
  height: 2px;
  background: linear-gradient(to right, var(--tertiary-color), var(--hover-color));
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}
.hover-underline::before {
  top: -5px;
  transform-origin: left;
}
.hover-underline:hover::after, .hover-underline:hover::before {
  transform: scaleX(1);
}
#burger-menu {
    display: none;
}
#burger-menu h1{
  font-size: 2.8rem;
  margin: 0 0px 0 20px;
}
#burger-menu:hover {
  cursor: pointer;
}
/* fin menu */

#actions{
  margin: 50px 0 20px 180px;
}
.title{
  display: flex;
  align-items: center;
  gap: 10px;
}
.title img{
  width: 400px;
  height: auto;
}
.title-text{
  max-width: 800px;
}
section{
  margin-bottom: 80px;
}
section p {
  color: var(--secondary-color)
}



/* ! CAROUSEL STYLES */

.carousel {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.card-wrapper {
  margin: auto;
}
 .card-list .card-item {
  list-style: none;
}
.card-list .card-item .card-link{
  width: 700px;
  user-select: none;
  display: block;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 18px;
  border-radius: 8px;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 0 0 10px;
}
.card-list .card-link .card-image{
  width: 100%;
  aspect-ratio: 16 /9 ;
  object-fit: cover;
  border-radius: 4px;
}
.card-list .card-link .card-title{
  font-family: var(--main-font);
  color: var(--primary-color);
  padding: 8px 16px;
  margin: 16px 0 18px;
  font-size: 1.2rem;
  background-color: var(--tertiary-color);
  border-radius: 30px;
  width: fit-content;
}
.btn-swipe {
  color: red;
}
.card-wrapper .swiper-pagination-bullet {
  background-color: var(--tertiary-color);
  opacity: 1;
}
.card-wrapper .swiper-pagination-bullet-active {
  background-color: var(--secondary-color);
}
.card-wrapper .swiper-button-prev,
.card-wrapper .swiper-button-next {
  color: var(--primary-color);
}


/* ? FOOTER */
footer {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 15px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}
footer .footer-section {
  flex: 1;
  padding: 0 20px;
  text-align: left;
}
footer h4 {
  margin-bottom: 8px;
}
.footer-section a, p, li {
  color: var(--tertiary-color);
  text-decoration: none;
  list-style: none;
  text-align: left;
}
.footer-section h4 {
  color: var(--tertiary-color);
}
footer a {
  font-family: var(--text-font);
}
footer a:hover {
  color: var(--hover-color);
}
footer .social-icons {
  font-size: 30px;
  color: var(--tertiary-color);
}
footer i:hover {
  color: var(--hover-color);
  cursor: pointer;
}
.footer-section button {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  border: 1px solid var(--tertiary-color);
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
}
.footer-section button:hover {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.footer-section .social-icons {
  min-width: 150px;
}
.footer-section .social-icons i:hover {
  color: var(--hover-color);
  cursor: pointer;
}
.footer-updown {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 40%;
}



/* ! MEDIA QUERIES */
@media screen and (max-width: 1200px) {
  .event-container .event{
    width: 85%;
  }
  .contact-container {
    flex-direction: column;
  }
  .infos, .infos p {
    text-align: center;
  }
  .socials {
    margin: 50px auto 0 auto;
  }
  h1{
  font-size: 2.2rem;
  }
  h2{
  font-size: 1.4rem;
  }
  h4{
  font-size: 1.2rem;
  }
  .title {
    width: 90%;
  }
  .title img{
   width: 300px;
   height: auto;
  }
}
@media screen and (max-width: 980px) {
  .illu-actions {
    flex-direction: column;
  }
  .event-details {
    flex-direction: column;
    gap: 10px;
  }
  footer {
    flex-wrap: wrap;
    gap: 30px;
    flex-shrink: 3;
  }
  .title {
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: auto;
  }
  .title img{
    width: 200px;
    height: auto;
  }
  .card-list .card-item .card-link{
    width: 500px;
    margin: 0 0 0 80px;
  }

}
@media screen and  (max-width: 880px) {
  .card-list .card-item .card-link{
    width: 450px;
    margin: 0 0 0 30px;
  }
}
@media screen and  (max-width: 720px) {
  .event .event-left{
    border-radius: 8px 8px 0 0;
  }
  .event {
    flex-direction: column;
    border-radius: 8px;
  }
  footer {
    flex-direction: column;
    margin: auto;
  }
  footer .footer-section {
    margin: auto;
    width: 50%;
    padding: 0px;
    text-align: left;
  }
  .footer-updown {
    margin: auto;
    width: 120%;
  }
  .card-list .card-item .card-link{
    width: 300px;
    margin: 0 0 0 30px;
  }
}
@media screen and (max-width: 640px) {
  main {
    margin-left: 0px;
  }
  .carousel {
    width: 95%;
  }
  #nav {
    transform: translateX(-100%);
    transition: transform 0.8s cubic-bezier(0.73, 0.11, 0.67, 0.84);
    height: auto;
    margin-top: 50px;
    z-index: 1000;
  }
  #nav.active {
    transform: translate(0);
  }
  #burger-menu{
    display:block;
  }
}
