@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('actions.css');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;    // masque le défilement
}

:root{
  --main-font: 'Montserrat Alternates', 'Arial, sans-serif';
  --text-font: 'Gabarito', 'Arial, sans-serif';
  --primary-color: #1f3c0f;
  --secondary-color: rgb(14, 29, 17);
  --tertiary-color: #E0F0D8;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--main-font);
  color: var(--primary-color);
}
h1{
  font-size: 2.8rem;
  margin-bottom: 10px;
}
p {
  font-family: var(--text-font);
  color: var(--secondary-color);
  line-height: 1.6;
  font-size: 1rem;;
}
main {
  margin-left: 200px; /* Largeur du menu de navigation */
  height: 100vh;
  overflow-y: auto; /* Permet le défilement vertical */
  background-image: linear-gradient(rgb(238, 239, 237),rgb(243, 249, 251)), url(../img/bck_green.jpg);
  background-blend-mode: darken;
  background-size: cover;/* Ajuste la taille de l’image de fond pour qu’elle couvre toute la fenêtre */
  /* background-repeat: no-repeat;  Empêche la répétition de l’image */
  /* background-position: center;   Centre l’image dans la fenêtre */
  /* background-attachment: fixed;  */
}
body{
  position: relative;
  margin: 0px;
  /* background-image: linear-gradient(rgba(13, 13, 13, 0.537),rgba(18, 29, 15, 0.813)), url(../img/pic_green.jpg); */

}
nav {
  float: left;
  width: 200px;
  height: 100vh;
  padding: 30px 0 0 40px;
  background-color: var(--primary-color);
  position: fixed;
  line-height: 40px;
  font-weight: bold;
}
nav ul{
  padding: 0;
  margin: 0;
}
nav ul li{
  margin-bottom: 10px;
  list-style-type: none;

}
nav ul li a{
  font-family: var(--main-font);
  color: white;
  text-decoration: none;
}
nav ul li a:hover{
  text-decoration: underline;
}
#actions{
  margin: 50px 0 20px 180px;
}
.title{
  display: flex;
  align-items: center;
  gap: 10px;
}
.title img{
  width: 400px;
  height: auto;
}
.title-text{
  max-width: 800px;
}
section{
  margin-bottom: 80px;
}



/* ! CAROUSEL STYLES */

.carousel {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.card-wrapper {
  margin: auto;
}
 .card-list .card-item {
  list-style: none;
}
.card-list .card-item .card-link{
  width: 700px;
  user-select: none;
  display: block;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 18px;
  border-radius: 8px;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 0 0 10px;
}
.card-list .card-link .card-image{
  width: 100%;
  aspect-ratio: 16 /9 ;
  object-fit: cover;
  border-radius: 4px;
}
.card-list .card-link .card-title{
  font-family: var(--main-font);
  color: var(--primary-color);
  padding: 8px 16px;
  margin: 16px 0 18px;
  font-size: 1.2rem;
  background-color: var(--tertiary-color);
  border-radius: 30px;
  width: fit-content;
}
.btn-swipe {
  color: red;
}
.card-wrapper .swiper-pagination-bullet {
  background-color: var(--tertiary-color);
  opacity: 1;
}
.card-wrapper .swiper-pagination-bullet-active {
  background-color: var(--secondary-color);
}
.card-wrapper .swiper-button-prev,
.card-wrapper .swiper-button-next {
  color: var(--primary-color);
}
